body{
    background-color: whitesmoke;
    font-family: Helvetica;

}

#container{
    /* background-color: rgb(223, 221, 217); */
    width: auto;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: 100px 600px auto;
}
#logo{
    position: absolute;
    right: 0;
    top: 0;
}
#nav ul{
    display: inline-flex;
    list-style-type: none;
    padding: 10px;
}
li:hover { 
    font-size: larger;
    color: darkblue;
}

#header{
    
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: Bungee Inline;
    font-size: larger;
    /* background-color: crimson; */
}


#nav{
    display: inline-flex;
    width: 300px;
}

#main{
    
}

#footer{
    background-color: #cac3c3;
    text-align: center;
}
